/* .monolithLogo {
    size: 200px;
} */
body {
    margin: -1;
    background-color: antiquewhite;
}

header {
    background-color: gray;
    display: grid;
    
}

footer {
    background-color: gold;
}


.headerNav,
.footerNav {
    list-style-type: none;
}