/* The "gold" color is #8f7c01 */
/* Text sizing rules for landscape mode ? */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: -1;
    height: 100%;
    
    /* background-color: antiquewhite; */
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr repeat(12);
}

h1 {
    font-family: 'Six Caps', 'Alegreya Sans SC', sans-serif;
}


header {
    background-color: gray;
    grid-template-rows: min-content;
}

 header img {
    
 }


footer {
    background-color: #8f7c01;
    padding: 1em 0.5em 0.5em 0.5em;
}

.header-nav,
.footer-nav {
    list-style-type: none;
}

/* @media only screen  */